{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        thheller/shadow-cljs {:mvn/version "2.28.20"}
        no.cjohansen/replicant {:git/url "https://github.com/cjohansen/replicant.git"
                                :sha "6309f93d5f4998037ec236fdda9c167abf6046cb"}
        com.domkm/silk {:mvn/version "0.1.2"}
        lambdaisland/uri {:mvn/version "1.19.155"}
        ring/ring {:mvn/version "1.13.0"}}
 :aliases
 {:dev {:extra-paths ["dev"]}}}
